<div class="page-header">
<H1> This is our contact information.</H1>
</div>
<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://4.bp.blogspot.com/-1iId2gdhD_A/TdVUGNr1jKI/AAAAAAAAAaE/WDsc84SgN1M/s1600/Delivery.jpg"/></div>
  <div class="col-md-8">
<p> For any further information please contact the CEO. </p>

<h1>How do we make it possible?</h1>
<p>We get a lot of orders from people who seem to think they are hollywood producers but we still do our job following the next steps:</p>

<ul>
  <li>Do you want the products fast? Create your basket.</li>
  <li>Do you want to save time, money? Send us your order. </li>
  <li>Do you want to relax and avoid the stress from searching products? Let us buy your products. </li>
  <li>Do you want to use the fastest service? Don't worry, you are on it right now.</li>
</ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
<h3>SERIOUSLY, SO MANY REQUESTS, BUT WE DO THEM ALL!</h3>

<p>So we needed to figure out something that we could build in a few weeks, an idea that would make sense at first glance that we could fill out more or less depending upon how much progress we made.</p>

<p>Top things that people use the internet for:</p>

<ol>
  <li>Socialize</li>
  <li>Ordering food</li>
  <li>Watching Game of Thrones</li>
</ol>

<p>Since #1 requires competing with Zuckerberg, we settled on ordering food.</p>
</div>
  <div class="col-md-4"><img class="img-responsive" src="http://www.hypebot.com/.a/6a00d83451b36c69e2011571136a8a970b-pi"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://www.boomerangstorage.com/images/deliver.jpg"/></div>
</div>