<H1> This is our contact information.</H1>
<p> For any further information please contact the manager. <p>

<h1>A epic journey begins</h1>
<h2>These are our baby steps</h2>

<p>We get a lot of orders from people who seem to think they are hollywood producers:</p>

<ul>
  <li>I want it fast, but special</li>
  <li>I want it in my bed</li>
  <li>I want to relax and you bring my food</li>
  <li>I do not like intracting with people</li>
</ul>

<h3>SERIOUSLY, SO MANY REQUESTS, BUT WE DO THEM ALL!</h3>

<p>So we needed to figure out something that we could build in a few weeks, an idea that would make sense at first glance that we could fill out more or less depending upon how much progress we made.</p>

<p>Top things that people use the internet for:</p>

<ol>
  <li>Porn</li>
  <li>Ordering food</li>
  <li>Watching Game of Thrones</li>
</ol>

<p>Since #1 didn't seem professional, this is how we settled on ordering food.</p>