
   <div class="jumbotron">
  <h1>Create your basket!</h1>
  <p>Whrite the products you want.</p>
<table width="400">
<tr>
<th>Name</th>
<th>Size</th>
<th>Quantity</th>
</tr>
<tr>
<td>Golden Fish</td>
<td>1 lb</td>
<td>5</td>
</tr>
<tr>
<td>Brown Sperry Shoes</td>
<td>11</td>
<td>2</td>
</tr>
<tr>
<td>Patagonia Yellow Jacket</td>
<td>M</td>
<td>1</td>
</tr>
<tr>
<td>Coca-Cola</td>
<td>2 litres</td>
<td>10</td>
</tr>
</table>

<p></p>

  <p><a class="btn btn-primary btn-lg" role="button">Submit your order</a></p>
</div>


