<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">Welcome</span>
      Home
    </a>
  </li>
  <div class="jumbotron">
<h1>Wal-Fast </h1>
<h2>The easiest way to get what you need</h2>
</ul>

<div class="jumbotron">
<p>The best products at your college dorm.</p>
<p>Do your homework, we will do your shopping...</p>
<p>You <i>just don't have</i> the time to find them on the <b>market</b>.</p>
<p><a class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>Create your basket</a></p>
<p><a class="btn btn-primary btn-lg" role="button" href="http://localhost:3000/popularproducts"><span class="glyphicon glyphicon-star"></span>Popular products</a></p> 
<a class="btn btn-danger btn-lg" role="button" href="http://katsdailyinspiration.blogspot.com/2013/11/beat-black-friday-crowds.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+InspirationCanBeFoundEverywhere+(Inspiration+CAN+be+Found+EVERYWHERE+!)#axzz31i6dUSTq"> <span class="glyphicon glyphicon-hand-down"></span>I prefer to get stuck in the crazy crowd</a>
  </p>
</div>


